.header {
  background-color: #dbeefd;
  position: relative;
}

.header-div {
  /* it should be flexbox not grid becoz of responsiveness */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  width: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.menu-option {
  width: 5rem;
}

.cross-option {
  width: 5rem;
}

/* class with cross-option and name cross option so apply this css property  */
.cross-option[name="cross-option"] {
  display: none;
}

.section-hero {
  background-color: #dbeefd;
}

.main-img {
  width: 100%;
}

.heading-description-box {
  padding: 2rem;
}
.heading-description-list {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
}

.section-downloads-box-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-downloads-box-2 {
  padding: 2rem 0rem 2rem;
}

.os-download-box {
  background-color: #dbeefd;
  padding: 2rem;
  box-shadow: 0.2rem 0.3rem 1rem #000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.os_img {
  border-radius: 2rem;
  width: 100%;
}

.os_name {
  font-size: 1.5rem;
  color: #114c80;
}

.download-os-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}
/* ///////////////////////////////////////// */

.steps-to-follow-box-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.steps-to-follow-box-2 {
  padding-top: 2rem;
}

.step-0-img {
  width: 70%;
}

.steps-description-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.step-number {
  color: #114c80;
  font-size: 8rem;
  font-weight: 600;

  padding: 1rem;
  display: inline;
  background-color: #dbeefd;
  border-radius: 50%;
}

.steps-process-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.copyright-description {
  color: #114c80;
  font-size: 2rem;
  font-weight: 500;
}
/* /////////////////////////// */
#section-1 {
  scroll-behavior: smooth;
}

#section-2 {
  scroll-behavior: smooth;
}
